In [3]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

In [4]:
df= pd.read_csv("2022.csv", index_col=0)
df1= pd.read_csv("2023.csv", index_col=0)
df2= pd.read_csv("2024.csv", index_col=0)
df.shape, df1.shape, df2.shape

((635920, 25), (641111, 25), (538326, 25))

In [5]:
#Transformar las columnas fecha de los 3 dataframe a datetime

#df['fecha'] = pd.to_datetime(df['fecha'])
#df1['fecha'] = pd.to_datetime(df1['fecha'])
#df2['fecha'] = pd.to_datetime(df2['fecha'])

In [6]:
df_vc = pd.concat([df, df1, df2], ignore_index=True)

In [7]:
df_vc = df_vc.drop_duplicates().reset_index(drop = True)
df_vc.shape

(908546, 25)

In [8]:
# df_vc["fecha"] = df_vc["fecha"].apply(lambda x : x.strftime("%Y-%m-%d"))

In [9]:
# unir los 3 csv en un solo df y ejecutar todo el notebook, hacer un drop_duplicates()
# guardar el csv total y separar los csv por a√±o y guardar por separado
# FourSquare

df_vc.drop(["presMax","horaPresMax","presMin","horaPresMin","sol"], axis = 1, inplace = True)

In [10]:
indicativo_map = {indicativo : v for v, indicativo in enumerate(df_vc["indicativo"].unique(), start = 1)}

nombre_map = {nombre : v for v, nombre in enumerate(df_vc["nombre"].unique(), start = 1)}

provincia_map = {provincia : v for v, provincia in enumerate(df_vc["provincia"].unique(), start = 1)}

In [11]:
df_vc["indicativo_id"] = df_vc["indicativo"].map(indicativo_map)

df_vc["nombre_id"] = df_vc["nombre"].map(nombre_map)

df_vc["provincia_id"] = df_vc["provincia"].map(provincia_map)

In [12]:
df_indicativo = pd.DataFrame(indicativo_map.items(), columns = ["indicativo", "indicativo_id"])
df_indicativo = df_indicativo[["indicativo_id", "indicativo"]]

In [13]:
df_nombre = pd.DataFrame(nombre_map.items(), columns = ["nombre", "nombre_id"])
df_nombre = df_nombre[["nombre_id", "nombre"]]

In [14]:
df_provincia = pd.DataFrame(provincia_map.items(), columns = ["provincia", "provincia_id"])
df_provincia = df_provincia[["provincia_id", "provincia"]]

In [15]:
df_vc.drop(["indicativo", "nombre", "provincia"], axis = 1, inplace = True)

In [16]:
df_vc

,fecha,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,indicativo_id,nombre_id,provincia_id
0,2022-01-01,115,"19,8","0,0","13,4",06:00,"26,1",13:10,7.0,"1,9","4,4",13:40,41.0,95.0,22:10,16.0,11:20,1,1,1
1,2022-01-01,40,"10,2","0,0","4,7",05:00,"15,6",14:10,NaN,NaN,NaN,NaN,88.0,91.0,Varias,72.0,14:00,2,2,2
2,2022-01-01,410,"13,6","0,0","5,7",07:00,"21,5",14:20,18.0,"1,9","9,4",11:50,59.0,83.0,06:50,29.0,14:20,3,3,3
3,2022-01-01,808,"14,8","0,0","6,8",07:00,"22,8",14:10,33.0,"1,4","5,0",15:10,48.0,69.0,23:40,25.0,13:50,4,4,4
4,2022-01-01,582,"6,4","0,0","-2,0",08:00,"14,9",15:00,22.0,"0,8","2,2",03:40,70.0,96.0,08:40,41.0,15:00,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908541,2024-11-01,1062,"13,2","0,6","9,4",06:30,"17,0",12:10,36.0,"0,8","5,8",13:20,86.0,100.0,08:00,62.0,12:00,133,132,44
908542,2024-11-01,1030,NaN,"113,0",NaN,NaN,NaN,NaN,33.0,"5,0","14,7",14:10,NaN,NaN,NaN,NaN,NaN,202,201,6
908543,2024-11-01,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,NaN,NaN,NaN,NaN,444,440,52
908544,2024-11-01,340,"17,0","0,0","13,0",Varias,"21,1",14:33,NaN,NaN,NaN,NaN,83.0,96.0,23:10,64.0,Varias,404,400,17
908545,2024-11-01,515,"16,5","0,4","12,0",22:51,"21,0",13:34,14.0,"1,7","7,5",15:30,83.0,97.0,Varias,57.0,14:20,722,715,7

In [17]:
pd.merge(left = df_vc, right = df_indicativo, on = "indicativo_id")

,fecha,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,...,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,indicativo_id,nombre_id,provincia_id,indicativo
0,2022-01-01,115,"19,8","0,0","13,4",06:00,"26,1",13:10,7.0,"1,9",...,13:40,41.0,95.0,22:10,16.0,11:20,1,1,1,C439J
1,2022-01-01,40,"10,2","0,0","4,7",05:00,"15,6",14:10,NaN,NaN,...,NaN,88.0,91.0,Varias,72.0,14:00,2,2,2,0255B
2,2022-01-01,410,"13,6","0,0","5,7",07:00,"21,5",14:20,18.0,"1,9",...,11:50,59.0,83.0,06:50,29.0,14:20,3,3,3,5612B
3,2022-01-01,808,"14,8","0,0","6,8",07:00,"22,8",14:10,33.0,"1,4",...,15:10,48.0,69.0,23:40,25.0,13:50,4,4,4,3094B
4,2022-01-01,582,"6,4","0,0","-2,0",08:00,"14,9",15:00,22.0,"0,8",...,03:40,70.0,96.0,08:40,41.0,15:00,5,5,5,9394X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908541,2024-11-01,1062,"13,2","0,6","9,4",06:30,"17,0",12:10,36.0,"0,8",...,13:20,86.0,100.0,08:00,62.0,12:00,133,132,44,3013
908542,2024-11-01,1030,NaN,"113,0",NaN,NaN,NaN,NaN,33.0,"5,0",...,14:10,NaN,NaN,NaN,NaN,NaN,202,201,6,B248
908543,2024-11-01,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,87.0,NaN,NaN,NaN,NaN,444,440,52,1344X
908544,2024-11-01,340,"17,0","0,0","13,0",Varias,"21,1",14:33,NaN,NaN,...,NaN,83.0,96.0,23:10,64.0,Varias,404,400,17,1406X
908545,2024-11-01,515,"16,5","0,4","12,0",22:51,"21,0",13:34,14.0,"1,7",...,15:30,83.0,97.0,Varias,57.0,14:20,722,715,7,8395X

In [18]:
df_vc.head(10)

,fecha,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,indicativo_id,nombre_id,provincia_id
0,2022-01-01,115,"19,8","0,0","13,4",06:00,"26,1",13:10,7.0,"1,9","4,4",13:40,41.0,95.0,22:10,16.0,11:20,1,1,1
1,2022-01-01,40,"10,2","0,0","4,7",05:00,"15,6",14:10,NaN,NaN,NaN,NaN,88.0,91.0,Varias,72.0,14:00,2,2,2
2,2022-01-01,410,"13,6","0,0","5,7",07:00,"21,5",14:20,18.0,"1,9","9,4",11:50,59.0,83.0,06:50,29.0,14:20,3,3,3
3,2022-01-01,808,"14,8","0,0","6,8",07:00,"22,8",14:10,33.0,"1,4","5,0",15:10,48.0,69.0,23:40,25.0,13:50,4,4,4
4,2022-01-01,582,"6,4","0,0","-2,0",08:00,"14,9",15:00,22.0,"0,8","2,2",03:40,70.0,96.0,08:40,41.0,15:00,5,5,5
5,2022-01-01,17,"12,0","0,0","9,5",01:40,"14,5",13:00,26.0,"3,1","9,7",16:40,91.0,99.0,00:00,83.0,14:50,6,6,6
6,2022-01-01,88,"13,4","0,0","3,9",07:30,"23,0",14:00,25.0,"1,7","3,9",07:40,60.0,89.0,19:40,28.0,13:50,7,7,7
7,2022-01-01,715,"6,4","0,0","0,5",07:00,"12,3",16:10,2.0,"1,1","4,2",06:10,83.0,94.0,Varias,63.0,16:00,8,8,8
8,2022-01-01,874,"8,4","0,0","1,5",05:40,"15,3",13:10,21.0,"2,2","5,8",22:50,65.0,91.0,05:30,48.0,12:30,9,9,9
9,2022-01-01,43,"11,1","0,0","5,3",Varias,"16,9",13:40,9.0,"1,1","3,6",14:00,79.0,98.0,04:30,61.0,14:30,10,10,10

In [19]:
def clean_time(string):

    if string == "Varias" or pd.isna(string):
        return np.nan

    if string == "24:00":
        return "00:00"

    if string[0] not in ("0", "1", "2"):
        return np.nan

    return string

In [20]:
df_vc["horatmin"] = pd.to_datetime(df_vc["horatmin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horatmax"] = pd.to_datetime(df_vc["horatmax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horaracha"] = pd.to_datetime(df_vc["horaracha"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horaHrMin"] = pd.to_datetime(df_vc["horaHrMin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horaHrMax"] = pd.to_datetime(df_vc["horaHrMax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)

/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_1575/2929415804.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horatmin"] = pd.to_datetime(df_vc["horatmin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_1575/2929415804.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horatmax"] = pd.to_datetime(df_vc["horatmax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_1575/2929415804.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horaracha"] = pd.to_datetime(df_vc["horaracha"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_1575/2929415804.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horaHrMin"] = pd.to_datetime(df_vc["horaHrMin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_1575/2929415804.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horaHrMax"] = pd.to_datetime(df_vc["horaHrMax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)

In [21]:
df_vc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908546 entries, 0 to 908545
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   fecha          908546 non-null  object
 1   altitud        908546 non-null  int64
 2   tmed           889763 non-null  object
 3   prec           881910 non-null  object
 4   tmin           889992 non-null  object
 5   horatmin       828714 non-null  object
 6   tmax           890168 non-null  object
 7   horatmax       863718 non-null  object
 8   dir            727412 non-null  float64
 9   velmedia       729658 non-null  object
 10  racha          727412 non-null  object
 11  horaracha      683528 non-null  object
 12  hrMedia        849647 non-null  float64
 13  hrMax          870286 non-null  float64
 14  horaHrMax      578800 non-null  object
 15  hrMin          870379 non-null  float64
 16  horaHrMin      774540 non-null  object
 17  indicativo_id  908546 non-null  int64
 18  nombre_id      908546 non-null  int64
 19  provincia_id   908546 non-null  int64
dtypes: float64(4), int64(4), object(12)
memory usage: 138.6+ MB

In [22]:
def convertir_a_float(columna):
    # Reemplazar comas por puntos en la columna
    columna = columna.apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else x)
    # Intentar convertir a float, poniendo NaN en los valores no num√©ricos
    columna = pd.to_numeric(columna, errors='coerce')
    return columna
#"prec","tmin","horatmin","tmax","horatmax","velmedia","racha","horaracha","horaHrMax","horaHrMin"]].replace(str, np.nan).replace(",",".", regex=True).apply(pd.to_numeric, errors = "coerce")

In [23]:
df_vc["tmed"] = convertir_a_float(df_vc["tmed"])
df_vc["prec"] = convertir_a_float(df_vc["prec"])
df_vc["tmin"] = convertir_a_float(df_vc["tmin"])
df_vc["tmax"] = convertir_a_float(df_vc["tmax"])
df_vc["velmedia"] = convertir_a_float(df_vc["velmedia"])
df_vc["racha"] = convertir_a_float(df_vc["racha"])

In [24]:
df_vc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908546 entries, 0 to 908545
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   fecha          908546 non-null  object
 1   altitud        908546 non-null  int64
 2   tmed           889763 non-null  float64
 3   prec           876976 non-null  float64
 4   tmin           889992 non-null  float64
 5   horatmin       828714 non-null  object
 6   tmax           890168 non-null  float64
 7   horatmax       863718 non-null  object
 8   dir            727412 non-null  float64
 9   velmedia       729658 non-null  float64
 10  racha          727412 non-null  float64
 11  horaracha      683528 non-null  object
 12  hrMedia        849647 non-null  float64
 13  hrMax          870286 non-null  float64
 14  horaHrMax      578800 non-null  object
 15  hrMin          870379 non-null  float64
 16  horaHrMin      774540 non-null  object
 17  indicativo_id  908546 non-null  int64
 18  nombre_id      908546 non-null  int64
 19  provincia_id   908546 non-null  int64
dtypes: float64(10), int64(4), object(6)
memory usage: 138.6+ MB

In [25]:
df_22 = df_vc[df_vc["fecha"].between("2022-01-01", "2022-12-31")]
df_23 = df_vc[df_vc["fecha"].between("2023-01-01", "2023-12-31")]
df_24 = df_vc[df_vc["fecha"].between("2024-01-01", "2024-12-31")]

In [26]:
#df_22 = df_vc[:317963]
#df_23 = df_vc[317963:638511]
#df_24 = df_vc[638511:]

In [27]:
df_vc['fecha']

0         2022-01-01
1         2022-01-01
2         2022-01-01
3         2022-01-01
4         2022-01-01
             ...
908541    2024-11-01
908542    2024-11-01
908543    2024-11-01
908544    2024-11-01
908545    2024-11-01
Name: fecha, Length: 908546, dtype: object

In [63]:
df_22.to_csv("df_22.csv", index = False)
df_23.to_csv("df_23.csv", index = False)
df_24.to_csv("df_24.csv", index = False)
df_provincia.to_csv("provincia.csv", index = False)
df_nombre.to_csv("ciudades.csv", index = False)
df_indicativo.to_csv("indicativo.csv", index = False)

In [29]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317963 entries, 0 to 317962
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   fecha          317963 non-null  object
 1   altitud        317963 non-null  int64
 2   tmed           312380 non-null  float64
 3   prec           308182 non-null  float64
 4   tmin           312475 non-null  float64
 5   horatmin       290588 non-null  object
 6   tmax           312508 non-null  float64
 7   horatmax       302973 non-null  object
 8   dir            253726 non-null  float64
 9   velmedia       254644 non-null  float64
 10  racha          253726 non-null  float64
 11  horaracha      238459 non-null  object
 12  hrMedia        297711 non-null  float64
 13  hrMax          303820 non-null  float64
 14  horaHrMax      200998 non-null  object
 15  hrMin          303840 non-null  float64
 16  horaHrMin      269595 non-null  object
 17  indicativo_id  317963 non-null  int64
 18  nombre_id      317963 non-null  int64
 19  provincia_id   317963 non-null  int64
dtypes: float64(10), int64(4), object(6)
memory usage: 50.9+ MB